#log-in-container {
  margin: 0 auto;
  width: 400px;
  height: 500px;
  border: 1px solid black;
  text-align: center;
}
#log-in-header {

}
#log-in-button {
  border: 1px solid black;
  line-height: 34px;
  text-align: center;
  color: black;
}
#log-in-link {
  display: inline-block;
  margin: auto;
  width: 230px;
  height: 40px;
}
#log-in-link:hover {
  text-decoration: none;
}
#google-logo {
  margin-right: 8px;
}
#log-in-footer {

}
