<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Santa Barbara High School</title>
  </head>
  <body>
    <div id="background">
      <div id="chat"></div>
        <form id="send_message">
          <input type="text" id="message" placeholder="Enter message">
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
    
<!--     <div id="content">
      <p>Content</p>
    </div> -->
    <div id="footer">
      <div id="profile">
      </div>
      <div id="spaces">
        <button type="button" id="create"><img src="/static/images/ppicons-plus.svg" alt="create" style="width:25px;height:25px;"></button>
      </div>
  </body>
  <script src="https://cdn.socket.io/4.3.1/socket.io.min.js"></script>
  <script>
    //const socket = io.connect();
    const socket = io.connect("https://sbhs-platform.herokuapp.com");
    socket.on("connect", function () {
      alert("reached here 2");
      socket.emit("join_room", {
        username: "Yo",
        room: "1"
      })
    });
    socket.on("join_room_announcement", function (data) {
      alert(data);
      const newMode = document.createElement("div");
      newMode.innerHTML = "${data.username}has joined";
      document.getElementByID("chat").appendChild(newMode);
    });
  </script>
</html>
